// ================ GLOBAL SETTINGS ================
body {
    margin: 0;
    padding: 0;
    font-size: 62.5%;

    background: url('./../assets/restaurant.jpg');
    background-size: cover;
    background-repeat: no-repeat;

}

.wrapper {
    max-width: $max-width;
    margin: 0 auto;
}

.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.App, main, .SignUp, .Login {
    height: 100%;
}

main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Login, .SignUp {
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;

    form {
        @include authForm();

        .Login__div-input, .SignUp__div-input {
            @include authField();
        }

        input {
            margin-left: 10px;
        }

        .Login__span-signup, .SignUp__span-signup {
            font-size: 1.2rem;
        }

        button {
            border-style: none;
            border: 1px solid white;
            border-radius: 7px;
            color: white;
            background-color: rgb(26, 43, 43);
        }

        button:hover, button:focus {
            border: 1px solid rgb(26, 43, 43);
            color: rgb(26, 43, 43);
            background-color: white;
        }
    }
    
}

// ================ LOGIN =================
// .Login {

// }

// ================ SIGNUP =================
// .SignUp {

// }

// ================ MISC =================
button {
    width: 200px;
    margin: 20px auto;
}