// ================ GLOBAL SETTINGS ================
body {
    margin: 0;
    padding: 0;
    font-size: 62.5%;

    background: url('./../assets/restaurant.jpg');
    background-size: cover;
    background-repeat: no-repeat;

}

.wrapper {
    max-width: $max-width;
    margin: 0 auto;
}

.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.App, main {
    height: 100%;
}

main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

// ================ LOGIN & SIGN UP =================

.Login, .SignUp {
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;

    form {
        @include panel();
        display: flex;
        flex-direction: column;
        max-width: 510px;
        padding-bottom: 35px;

        .Login__div-input, .SignUp__div-input {
            margin: 15px 20px;
            padding-right: 10px;
            display: flex;
            justify-content: flex-end;
        }

        input {
            margin-left: 10px;
        }

        .Login__span-signup, .SignUp__span-signup {
            font-size: 1.2rem;
        }

        button {
            width: 200px;
            margin: 20px auto;
            padding: 5px 10px;
            border-style: none;
            border: 1px solid white;
            border-radius: 7px;
            color: white;
            background-color: $secondary-color-transparent;

            &:hover, &:focus {
                border: 1px solid $secondary-color;
                color: $secondary-color;
                background-color: white;
            }
        }

    }
    
}

// ================ USER =================
.User {
    @include panel();
    height: 600px;
    width: 900px;
    text-align: center;

    display: flex;
    flex-direction: column;

    .User__div-dashboard {
        flex-grow: 1;
        display: flex;
        border-top: 1px solid white;

        .User__div-nav {
            width: 200px;
            border-right: 1px solid white;

            ul {
                list-style: none;
                padding: 0;
                margin: 0;

                a {
                    display: block;
                    border: none;
                    transition: 0.25s;
                    width: 100%;
                    background: transparent;
                    color: white;

                    &:hover, &:focus {
                        color: $secondary-color;
                        background: white;
                    }
                }
            }
        }

        .User__div-viewport {
            flex-grow: 1;
        }
    }
}

// ================ MISC =================
a {
    color: blue;
    text-decoration: none;
}

a:visited {
    color: red;
}