@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');

body {
    font-family: 'Orelega One', cursive;
    color: white;
}

input {
    font-family: 'Orelega One', cursive;
}

input, label {
    font-size: 1.6rem;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.8rem;
}