$max-width: 1080px;

// debugging tool for CSS
@mixin border() {
    border: 1px solid red;
}

@mixin authForm() {
    display: flex;
    flex-direction: column;
    max-width: 510px;
    background-color: rgba(26, 43, 43, 0.75);
    padding-bottom: 35px;

    border: 1px solid white;
}

@mixin authField() {
    margin: 15px 20px;
    padding-right: 10px;
    display: flex;
    justify-content: flex-end;
}