$max-width: 1280px;

$secondary-color: rgb(26, 43, 43);
$secondary-color-transparent: rgba(26, 43, 43, 0.75);

// debugging tool for CSS
@mixin border() {
    border: 1px solid red;
}

@mixin panel() {
    background-color: $secondary-color-transparent;
    border: 1px solid white;
}
